<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vicin | Multipurpose Construction & Plumbing HTML Template</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia%7COpen+Sans:300,300i,400,400i,600,700,800%7CRoboto:300,400,500,700" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/plugins.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="style.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/colors.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">
</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		<header id="header" class="style2">
			<!-- header area of the page -->
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<ul class="contact-list list-unstyled">
								<li><i class="icon fa fa-clock-o"></i> Opening Hours: Mon-Fri: 9am-6pm; Sat-Sun: 10am - 1pm</li>
							</ul>
							<ul class="sign-up list-unstyled">
								<li><a href="#popup1" class="lightbox">log in</a></li>
								<li>|</li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- header holder of the page -->
			<div class="header-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- logo of the page -->
							<div class="logo">
								<a href="home.html"><img src="images/logo-f.png" alt="VICIN" class="img-responsive"></a>
							</div>
							<a href="#" class="nav-opener text-center md-round"><i class="fa fa-bars"></i></a>
							<!-- nav of the page -->
							<nav id="nav">
								<ul class="list-unstyled">
									<li>
										<a href="#">Home</a>
										<ul class="list-unstyled drop-down">
											<li><a href="home.html">Homepage 1</a></li>
											<li><a href="home2.html">Homepage 2</a></li>
											<li><a href="home3.html">Homepage 3</a></li>
											<li><a href="home4.html">Homepage 4</a></li>
										</ul>
									</li>
									<li><a href="about.html">About us</a></li>
									<li>
										<a href="#">services</a>
										<ul class="list-unstyled drop-down">
											<li><a href="service.html">Services List</a></li>
											<li><a href="service-detail.html">Services Details</a></li>
										</ul>
									</li>
									<li>
										<a href="#">projects</a>
										<ul class="list-unstyled drop-down">
											<li><a href="project1.html">projects 1</a></li>
											<li><a href="project2.html">projects 2</a></li>
											<li><a href="project-detail1.html">projects Details 1</a></li>
											<li><a href="project-detail2.html">projects Details 2</a></li>
										</ul>
									</li>
									<li>
										<a href="#">pages</a>
										<ul class="list-unstyled drop-down">
											<li><a href="404page.html">404 page</a></li>
											<li><a href="faq.html">faq</a></li>
											<li><a href="login.html">login</a></li>
											<li><a href="checkout.html">Checkout</a></li>
											<li><a href="cart.html">Cart</a></li>
										</ul>
									</li>
									<li>
										<a href="#">SHOP</a>
										<ul class="list-unstyled drop-down">
											<li><a href="shop.html">Shop List</a></li>
											<li><a href="shop-detail.html">Shop Details</a></li>
										</ul>
									</li>
									<li class="active">
										<a href="#">Blog</a>
										<ul class="list-unstyled drop-down">
											<li><a href="blog.html">Blog List</a></li>
											<li><a href="blog-detail.html">Blog Details</a></li>
										</ul>
									</li>
									<li><a href="contact.html">contact us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- main of the page -->
		<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay" style="background-image: url(http://placehold.it/1920x350);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">Blog</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="home.html">Home</a></li>
									<li>></li>
									<li>Blog</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- twocolumns of the page -->
			<div class="twocolumns container">
				<div class="row">
					<div class="col-xs-12">
						<!-- content of the page -->
						<article id="content">
							<!-- post blog of the page -->
							<div class="post-blog">
								<div class="img-holder">
									<img src="http://placehold.it/800x400" alt="image description" class="img-responsive">
								</div>
								<time class="time text-uppercase" datetime="2017-02-03 20:00">MAY 29, 2017</time>
								<h3><a href="blog-detail.html">The most common mistakes when managing construction</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
								<a href="blog-detail.html" class="read-more text-uppercase">CONTINUE READING</a>
							</div>
							<!-- post blog of the page -->
							<div class="post-blog">
								<div class="img-holder">
									<img src="http://placehold.it/800x400" alt="image description" class="img-responsive">
								</div>
								<time class="time text-uppercase" datetime="2017-02-03 20:00">MAY 10, 2017</time>
								<h3><a href="blog-detail.html">Methods of safety on construction site</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
								<a href="blog-detail.html" class="read-more text-uppercase">CONTINUE READING</a>
							</div>
							<!-- post blog of the page -->
							<div class="post-blog">
								<div class="img-holder">
									<img src="http://placehold.it/800x400" alt="image description" class="img-responsive">
								</div>
								<time class="time text-uppercase" datetime="2017-02-03 20:00">MAY 29, 2017</time>
								<h3><a href="blog-detail.html">Build Amazing house For You</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
								<a href="blog-detail.html" class="read-more text-uppercase">CONTINUE READING</a>
							</div>
							<!-- nav pagination of the page -->
							<ul class="nav-pagination list-unstyled text-center">
								<li class="prev"><a href="#">Prev</a></li>
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li class="next"><a href="#">Next</a></li>
							</ul>
						</article>
						<!-- sidebar of the page -->
						<aside id="sidebar">
							<!-- widget of the page -->
							<section class="widget">
								<h3 class="text-uppercase">Recent Posts</h3>
								<ul class="list-unstyled widget-nav">
									<li><a href="#"><i class="ti-angle-right"></i> Overalls with logo as a method of advertising</a></li>
									<li><a href="#"><i class="ti-angle-right"></i> The main objectives of the marketer</a></li>
									<li><a href="#"><i class="ti-angle-right"></i> Recession is a good opportunity to deal a deathblow to the competitors</a></li>
								</ul>
							</section>
							<!-- widget of the page -->
							<section class="widget">
								<h3 class="text-uppercase">ARCHIVES</h3>
								<ul class="list-unstyled widget-nav text-uppercase">
									<li><a href="#"><i class="ti-angle-right"></i> DEC 2016 (1)</a></li>
									<li><a href="#"><i class="ti-angle-right"></i> NOV 2016 (3)</a></li>
									<li><a href="#"><i class="ti-angle-right"></i> OCT 2016 (1)</a></li>
									<li><a href="#"><i class="ti-angle-right"></i> SEP 2016 (4)</a></li>
									<li><a href="#"><i class="ti-angle-right"></i> AUG 2016 (1)</a></li>
								</ul>
							</section>
							<!-- widget of the page -->
							<section class="widget">
								<h3 class="text-uppercase">Tags</h3>
								<ul class="list-unstyled tags-list">
									<li><a href="#">Construction</a></li>
									<li><a href="#">Roofing</a></li>
									<li><a href="#">Art</a></li>
									<li><a href="#">Safety</a></li>
									<li><a href="#">Plumbing</a></li>
									<li><a href="#">Vicin</a></li>
								</ul>
							</section>
						</aside>
					</div>
				</div>
			</div>
		</main>
		<!-- footer of the page -->
		<footer id="footer">
			<!-- footer holder of the page -->
			<div class="footer-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">About us</h3>
							<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Get in Touch</h3>
							<!-- Contact list of the page -->
							<ul class="list-unstyled contact-list">
								<li>
									<span class="icon ti-location-pin"></span>
									<address>1600 Amphitheatre Parkway <br>Mountain View CA 94043</address>
								</li>
								<li>
									<span class="icon ti-email"></span>
									<a href="mailto:&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
								</li>
								<li>
									<span class="icon ti-headphone-alt"></span>
									<a href="tel:18005596580">+1 800 559 6580</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Opening Hours</h3>
							<!-- Hour list of the page -->
							<ul class="list-unstyled hour-list">
								<li>Our support  24 / 7</li>
								<li>Monday – Friday: 9am-6pm</li>
								<li>Saturday: 10am-4pm</li>
								<li>Sunday: 10am-1pm</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Subscribe</h3>
							<p>Subscribe to our mailing list to get the updates to your email inbox.</p>
							<!-- Subscribe form of the page -->
							<form action="#" class="subscribe-form">
								<fieldset>
									<input type="email" class="form-control" placeholder="your email here">
									<button type="submit"><i class="fa fa-paper-plane-o"></i></button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- footer holder of the page -->
			<div class="footer-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<p>Copyrights © 2017 All Rights Reserved.</p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<!-- Socail network of the page -->
							<ul class="socail-network list-unstyled">
								<li><a href="#" class="social_facebook"></a></li>
								<li><a href="#" class="social_linkedin"></a></li>
								<li><a href="#" class="social_twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="social_pinterest"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- back top of the page -->
		<span id="back-top" class="text-center md-round fa fa-caret-up"></span>
		<!-- loader of the page -->
		<div id="loader" class="loader-holder">
	      <div class="block"><img src="images/svg/hearts.svg" width="100" alt="loader"></div>
	    </div>
	</div>
	<div class="popup-holder">
		<div id="popup1" class="lightbox">
			<form action="#" class="signup-form text-center">
				<fieldset>
					<h2>Sign in to <span class="clr">Vicin</span></h2>
					<p>Enter your details below.</p>
					<div class="form-group">
						<input type="email" class="form-control" placeholder="EMAIL ADDRESS">
						<input type="password" class="form-control" placeholder="PASSWORD">
					</div>
					<button type="submit" class="btn text-center text-uppercase">SIGN IN</button>
					<a href="#">forgot your password?</a>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- include jQuery -->
	<script src="js/jquery.js"></script>
	<!-- include jQuery -->
	<script src="js/plugins.js"></script>
	<!-- include jQuery -->
	<script src="js/jquery.main.js"></script>
</body>
</html>