<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vicin | Multipurpose Construction & Plumbing HTML Template</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia%7COpen+Sans:300,300i,400,400i,600,700,800%7CRoboto:300,400,500,700" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/plugins.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="style.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/colors.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">
</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		<header id="header">
			<!-- header area of the page -->
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- contact list of the page -->
							<ul class="contact-list list-unstyled">
								<li><i class="icon icon_phone"></i> <a href="tel:18005596580">+1 800 559 6580</a></li>
								<li><i class="icon icon_mail"></i> <a href="mailto:&#109;&#097;&#105;&#108;&#064;&#100;&#101;&#109;&#111;&#108;&#105;&#110;&#107;&#046;&#111;&#114;&#103;">&#109;&#097;&#105;&#108;&#064;&#100;&#101;&#109;&#111;&#108;&#105;&#110;&#107;&#046;&#111;&#114;&#103;</a></li>
							</ul>
							<!-- socail network of the page -->
							<ul class="socail-network list-unstyled">
								<li><a href="#" class="social_facebook"></a></li>
								<li><a href="#" class="social_linkedin"></a></li>
								<li><a href="#" class="social_twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="social_pinterest"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- header holder of the page -->
			<div class="header-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- logo of the page -->
							<div class="logo">
								<a href="home.html"><img src="images/logo.png" alt="VICIN" class="img-responsive"></a>
							</div>
							<a href="#" class="nav-opener text-center md-round"><i class="fa fa-bars"></i></a>
							<!-- nav of the page -->
							<nav id="nav">
								<ul class="list-unstyled">
									<li class="active">
										<a href="#">Home</a>
										<ul class="list-unstyled drop-down">
											<li><a href="home.html">Homepage 1</a></li>
											<li><a href="home2.html">Homepage 2</a></li>
											<li><a href="home3.html">Homepage 3</a></li>
											<li><a href="home4.html">Homepage 4</a></li>
										</ul>
									</li>
									<li><a href="about.html">About us</a></li>
									<li>
										<a href="#">services</a>
										<ul class="list-unstyled drop-down">
											<li><a href="service.html">Services List</a></li>
											<li><a href="service-detail.html">Services Details</a></li>
										</ul>
									</li>
									<li>
										<a href="#">projects</a>
										<ul class="list-unstyled drop-down">
											<li><a href="project1.html">projects 1</a></li>
											<li><a href="project2.html">projects 2</a></li>
											<li><a href="project-detail1.html">projects Details 1</a></li>
											<li><a href="project-detail2.html">projects Details 2</a></li>
										</ul>
									</li>
									<li>
										<a href="#">pages</a>
										<ul class="list-unstyled drop-down">
											<li><a href="404page.html">404 page</a></li>
											<li><a href="faq.html">faq</a></li>
											<li><a href="login.html">login</a></li>
											<li><a href="checkout.html">Checkout</a></li>
											<li><a href="cart.html">Cart</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Shop</a>
										<ul class="list-unstyled drop-down">
											<li><a href="shop.html">Shop List</a></li>
											<li><a href="shop-detail.html">Shop Details</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Blog</a>
										<ul class="list-unstyled drop-down">
											<li><a href="blog.html">Blog List</a></li>
											<li><a href="blog-detail.html">Blog Details</a></li>
										</ul>
									</li>
									<li><a href="contact.html">contact us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- main of the page -->
		<main id="main">
			<!-- main slider of the page -->
			<section class="main-slider">
				<!-- slide of the page -->
				<div class="slide bg-full overlay" style="background-image: url(http://placehold.it/1920x700);">
					<div class="caption text-center">
						<span class="title text-uppercase">Fast And reliable</span>
						<h1 class="text-uppercase">Construction <br>industry</h1>
						<div class="btn-holder">
							<a href="#" class="btn active text-center text-uppercase">Our project</a>
							<a href="#" class="btn text-center text-uppercase">Get a quote</a>
						</div>
					</div>
				</div>
				<!-- slide of the page -->
				<div class="slide bg-full overlay" style="background-image: url(http://placehold.it/1920x700);">
					<div class="caption text-center">
						<span class="title text-uppercase">Fast And reliable</span>
						<h1 class="text-uppercase">Construction <br>industry</h1>
						<div class="btn-holder">
							<a href="#" class="btn active text-center text-uppercase">Our project</a>
							<a href="#" class="btn text-center text-uppercase">Get a quote</a>
						</div>
					</div>
				</div>
				<!-- slide of the page -->
				<div class="slide bg-full overlay" style="background-image: url(http://placehold.it/1920x700);">
					<div class="caption text-center">
						<span class="title text-uppercase">Fast And reliable</span>
						<h1 class="text-uppercase">Construction <br>industry</h1>
						<div class="btn-holder">
							<a href="#" class="btn active text-center text-uppercase">Our project</a>
							<a href="#" class="btn text-center text-uppercase">Get a quote</a>
						</div>
					</div>
				</div>
			</section>
			<!-- service sec of the page -->
			<section class="service-sec box-shadow bg-light-grey">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<!-- service of the page -->
							<div class="service overlay">
								<img src="http://placehold.it/370x270" alt="image description" class="img-responsive">
								<div class="over text-center">
									<h2 class="text-uppercase">EXTERIOR DESIGN</h2>
									<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut perspiciatis.</p>
									<a href="service-detail.html" class="read-more text-uppercase">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<!-- service of the page -->
							<div class="service overlay">
								<img src="http://placehold.it/370x270" alt="image description" class="img-responsive">
								<div class="over text-center">
									<h2 class="text-uppercase">HOME BUILDING</h2>
									<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut perspiciatis.</p>
									<a href="service-detail.html" class="read-more text-uppercase">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<!-- service of the page -->
							<div class="service overlay">
								<img src="http://placehold.it/370x270" alt="image description" class="img-responsive">
								<div class="over text-center">
									<h2 class="text-uppercase">BUILDING RENOVATION</h2>
									<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut perspiciatis.</p>
									<a href="service-detail.html" class="read-more text-uppercase">Read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- project sec of the page -->
			<section class="project-sec bg-full pad-t" style="background-image: url(http://placehold.it/1920x535);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h3 class="main-heading text-uppercase">Our Projects</h3>
						</div>
					</div>
				</div>
				<!-- col of the page -->
				<div class="col overlay">
					<img src="http://placehold.it/480x340" alt="image description" class="img-responsive">
					<div class="over text-center">
						<strong class="title text-uppercase"><a href="project-detail1.html">Dream House</a></strong>
						<span class="sub-title">Exterior Design</span>
					</div>
				</div>
				<!-- col of the page -->
				<div class="col overlay">
					<img src="http://placehold.it/480x340" alt="image description" class="img-responsive">
					<div class="over text-center">
						<strong class="title text-uppercase"><a href="project-detail1.html">Dream House</a></strong>
						<span class="sub-title">Exterior Design</span>
					</div>
				</div>
				<!-- col of the page -->
				<div class="col overlay">
					<img src="http://placehold.it/480x340" alt="image description" class="img-responsive">
					<div class="over text-center">
						<strong class="title text-uppercase"><a href="project-detail1.html">Dream House</a></strong>
						<span class="sub-title">Exterior Design</span>
					</div>
				</div>
				<!-- col of the page -->
				<div class="col overlay">
					<img src="http://placehold.it/480x340" alt="image description" class="img-responsive">
					<div class="over text-center">
						<strong class="title text-uppercase"><a href="project-detail1.html">Dream House</a></strong>
						<span class="sub-title">Exterior Design</span>
					</div>
				</div>
			</section>
			<!-- choose sec of the page -->
			<section class="choose-sec container pad-t">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3 class="main-heading">WHY CHOOSE US</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="img-holder">
							<img src="http://placehold.it/290x410" alt="image desciption" class="img-responsive">
						</div>
						<div class="img-holder">
							<div class="img-col">
								<img src="http://placehold.it/270x200" alt="image description" class="img-responsive">
							</div>
							<div class="img-col">
								<img src="http://placehold.it/270x200" alt="image description" class="img-responsive">
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<ul class="list-unstyled choose-list">
							<li>
								<span class="icon"><i class="fa fa-thumbs-o-up"></i></span>
								<div class="txt-holder">
									<h4 class="text-uppercase">Reliability</h4>
									<p>We trust in our employees because we choose smart, experienced, and hard working professionals.</p>
								</div>
							</li>
							<li>
								<span class="icon"><i class="fa fa-clock-o"></i></span>
								<div class="txt-holder">
									<h4 class="text-uppercase">Expertise</h4>
									<p>We trust in our employees because we choose smart, experienced, and hard working professionals.</p>
								</div>
							</li>
							<li>
								<span class="icon"><i class="fa fa-diamond"></i></span>
								<div class="txt-holder">
									<h4 class="text-uppercase">Quality</h4>
									<p>We trust in our employees because we choose smart, experienced, and hard working professionals.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- help  sec of the page -->
			<section class="help-sec bg-full" style="background-image: url(http://placehold.it/1920x535);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="holder">
								<h3 class="main-heading text-uppercase">We are always ready <br>to help you</h3>
								<p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
								<a href="project1.html" class="btn active text-center text-uppercase">Our project</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="img-holder">
								<img src="http://placehold.it/340x500" alt="image description" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- blog sec of the page -->
			<section class="blog-sec container pad-t">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3 class="main-heading text-uppercase">Latest Blogs</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<img src="http://placehold.it/370x200" alt="image description" class="img-responsive">
								<div class="over">
									<a href="blog-detail.html"><span></span></a>
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"><a href="blog-detail.html">Tips for Redesigning Your Bathroom</a></h3>
								<ul class="list-unstyled comment-nav">
									<li><time datetime="2017-02-03 20:00">Posted 08.17.2017</time></li>
									<li>|</li>
									<li><a href="blog-detail.html">Construction</a></li>
								</ul>
								<p>Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern.</p>
								<a href="blog-detail.html" class="read-more text-uppercase">Read more</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<img src="http://placehold.it/370x200" alt="image description" class="img-responsive">
								<div class="over">
									<a href="blog-detail.html"><span></span></a>
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"><a href="blog-detail.html">Tips for Redesigning Your Bathroom</a></h3>
								<ul class="list-unstyled comment-nav">
									<li><time datetime="2017-02-03 20:00">Posted 08.17.2017</time></li>
									<li>|</li>
									<li><a href="blog-detail.html">Plumber</a></li>
								</ul>
								<p>Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern.</p>
								<a href="blog-detail.html" class="read-more text-uppercase">Read more</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<img src="http://placehold.it/370x200" alt="image description" class="img-responsive">
								<div class="over">
									<a href="blog-detail.html"><span></span></a>
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"><a href="blog-detail.html">Tips for Redesigning Your Bathroom</a></h3>
								<ul class="list-unstyled comment-nav">
									<li><time datetime="2017-02-03 20:00">Posted 08.17.2017</time></li>
									<li>|</li>
									<li><a href="blog-detail.html">Repair Roof</a></li>
								</ul>
								<p>Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern.</p>
								<a href="blog-detail.html" class="read-more text-uppercase">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- testimonail sec of the page -->
			<div class="testimonail-sec bg-full overlay" style="background-image: url(http://placehold.it/1920x350);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- testimonail slider of the page -->
							<div class="testimonail-slider">
								<!-- slide of the page -->
								<blockquote class="slide text-center">
									<q>“ I've been happy with the services provided by Vincin. Luis Philipe has been wonderful! He has returned my calls quickly, and he answered all my questions. This is required when, for example, the final text is not yet available. ”</q>
									<cite class="text-uppercase">Alex Sanches</cite>
									<span>Managing Partner</span>
								</blockquote>
								<!-- slide of the page -->
								<blockquote class="slide text-center">
									<q>“ I've been happy with the services provided by Vincin. Luis Philipe has been wonderful! He has returned my calls quickly, and he answered all my questions. This is required when, for example, the final text is not yet available. ”</q>
									<cite class="text-uppercase">Alex Sanches</cite>
									<span>Managing Partner</span>
								</blockquote>
								<!-- slide of the page -->
								<blockquote class="slide text-center">
									<q>“ I've been happy with the services provided by Vincin. Luis Philipe has been wonderful! He has returned my calls quickly, and he answered all my questions. This is required when, for example, the final text is not yet available. ”</q>
									<cite class="text-uppercase">Alex Sanches</cite>
									<span>Managing Partner</span>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- client sec of the page -->
			<div class="client-sec container">
				<div class="row">
					<div class="col-xs-12 line-box">
						<!-- client logo of the page -->
						<ul class="list-unstyled client-logo line">
							<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
							<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
							<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
							<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
							<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
							<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</main>
		<!-- footer of the page -->
		<footer id="footer">
			<!-- footer holder of the page -->
			<div class="footer-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">About us</h3>
							<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Get in Touch</h3>
							<!-- contact list of the page -->
							<ul class="list-unstyled contact-list">
								<li>
									<span class="icon ti-location-pin"></span>
									<address>1600 Amphitheatre Parkway <br>Mountain View CA 94043</address>
								</li>
								<li>
									<span class="icon ti-email"></span>
									<a href="mailto:&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
								</li>
								<li>
									<span class="icon ti-headphone-alt"></span>
									<a href="tel:18005596580">+1 800 559 6580</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Opening Hours</h3>
							<!-- hour list of the page -->
							<ul class="list-unstyled hour-list">
								<li>Our support  24 / 7</li>
								<li>Monday – Friday: 9am-6pm</li>
								<li>Saturday: 10am-4pm</li>
								<li>Sunday: 10am-1pm</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Subscribe</h3>
							<p>Subscribe to our mailing list to get the updates to your email inbox.</p>
							<!-- subscribe form of the page -->
							<form action="#" class="subscribe-form">
								<fieldset>
									<input type="email" class="form-control" placeholder="your email here">
									<button type="submit"><i class="fa fa-paper-plane-o"></i></button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- footer area of the page -->
			<div class="footer-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<p>Copyrights © 2017 All Rights Reserved.</p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<!-- Socail network of the page -->
							<ul class="socail-network list-unstyled">
								<li><a href="#" class="social_facebook"></a></li>
								<li><a href="#" class="social_linkedin"></a></li>
								<li><a href="#" class="social_twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="social_pinterest"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- back top of the page -->
		<span id="back-top" class="text-center md-round fa fa-caret-up"></span>
		<!-- loader of the page -->
		<div id="loader" class="loader-holder">
	      <div class="block"><img src="images/svg/hearts.svg" width="100" alt="loader"></div>
	    </div>
	</div>
	<!-- include jQuery -->
	<script src="js/jquery.js"></script>
	<!-- include jQuery -->
	<script src="js/plugins.js"></script>
	<!-- include jQuery -->
	<script src="js/jquery.main.js"></script>
</body>
</html>