<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vicin | Multipurpose Construction & Plumbing HTML Template</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia%7COpen+Sans:300,300i,400,400i,600,700,800%7CRoboto:300,400,500,700" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/plugins.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="style.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/colors.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">
</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		<header id="header" class="style3">
			<!-- header area of the page -->
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<ul class="contact-list list-unstyled">
								<li><i class="icon icon_phone"></i> <a href="tel:18005596580">+1 800 559 6580</a></li>
								<li><i class="icon icon_mail"></i> <a href="mailto:&#109;&#097;&#105;&#108;&#064;&#118;&#105;&#110;&#099;&#105;&#110;&#046;&#111;&#114;&#103;">&#109;&#097;&#105;&#108;&#064;&#118;&#105;&#110;&#099;&#105;&#110;&#046;&#111;&#114;&#103;</a></li>
							</ul>
							<ul class="sign-up list-unstyled">
								<li><a href="#popup1" class="lightbox">log in</a></li>
								<li>|</li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- header holder of the page -->
			<div class="header-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- logo of the page -->
							<div class="logo">
								<a href="home.html"><img src="images/logo-b.png" alt="VICIN" class="img-responsive"></a>
							</div>
							<a href="#" class="nav-opener text-center md-round"><i class="fa fa-bars"></i></a>
							<!-- nav of the page -->
							<nav id="nav">
								<ul class="list-unstyled">
									<li class="active">
										<a href="#">Home</a>
										<ul class="list-unstyled drop-down">
											<li><a href="home.html">Homepage 1</a></li>
											<li><a href="home2.html">Homepage 2</a></li>
											<li><a href="home3.html">Homepage 3</a></li>
											<li><a href="home4.html">Homepage 4</a></li>
										</ul>
									</li>
									<li><a href="about.html">About us</a></li>
									<li>
										<a href="#">services</a>
										<ul class="list-unstyled drop-down">
											<li><a href="service.html">Services List</a></li>
											<li><a href="service-detail.html">Services Details</a></li>
										</ul>
									</li>
									<li>
										<a href="#">projects</a>
										<ul class="list-unstyled drop-down">
											<li><a href="project1.html">projects 1</a></li>
											<li><a href="project2.html">projects 2</a></li>
											<li><a href="project-detail1.html">projects Details 1</a></li>
											<li><a href="project-detail2.html">projects Details 2</a></li>
										</ul>
									</li>
									<li>
										<a href="#">pages</a>
										<ul class="list-unstyled drop-down">
											<li><a href="404page.html">404 page</a></li>
											<li><a href="faq.html">faq</a></li>
											<li><a href="login.html">login</a></li>
											<li><a href="checkout.html">Checkout</a></li>
											<li><a href="cart.html">Cart</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Shop</a>
										<ul class="list-unstyled drop-down">
											<li><a href="shop.html">Shop List</a></li>
											<li><a href="shop-detail.html">Shop Details</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Blog</a>
										<ul class="list-unstyled drop-down">
											<li><a href="blog.html">Blog List</a></li>
											<li><a href="blog-detail.html">Blog Details</a></li>
										</ul>
									</li>
									<li><a href="contact.html">contact us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- main of the page -->
		<main id="main">
			<!-- main slider of the page -->
			<section class="main-slider slider3">
				<!-- slide of the page -->
				<div class="slide bg-full overlay" style="background-image: url(http://placehold.it/1920x660);">
					<div class="caption text-center">
						<h1 class="text-uppercase">BUILDING THE NEW WORLD</h1>
						<p>We are the leaders in the construction industry</p>
						<a href="#" class="btn active text-center text-uppercase">PURCHASE THEME</a>
					</div>
				</div>
				<!-- slide of the page -->
				<div class="slide bg-full overlay" style="background-image: url(http://placehold.it/1920x660);">
					<div class="caption text-center">
						<h1 class="text-uppercase">Construction industry</h1>
						<p>We are the leaders in the construction industry</p>
						<a href="#" class="btn active text-center text-uppercase">PURCHASE THEME</a>
					</div>
				</div>
				<!-- slide of the page -->
				<div class="slide bg-full overlay" style="background-image: url(http://placehold.it/1920x660);">
					<div class="caption text-center">
						<h1 class="text-uppercase">roofing Services</h1>
						<p>We are the leaders in the construction industry</p>
						<a href="#" class="btn active text-center text-uppercase">PURCHASE THEME</a>
					</div>
				</div>
			</section>
			<!-- service sec of the page -->
			<section class="service-sec service3">
				<div class="container">
					<div class="row">
						<header class="col-xs-12 text-center header">
							<h3 class="main-heading2 text-uppercase">WELCOME TO <span class="clr">VINCIN</span></h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa <br>quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit <br>aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<!-- service of the page -->
							<div class="service text-center bg-grey">
								<div class="img">
									<img src="images/icon01.png" alt="icon" class="img-responsive">
								</div>
								<h2 class="text-uppercase"><a href="service-detail.html">HOUSE BUILDING</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utLorem </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<!-- service of the page -->
							<div class="service text-center bg-grey">
								<div class="img img2">
									<img src="images/icon02.png" alt="icon" class="img-responsive">
								</div>
								<h2 class="text-uppercase"><a href="service-detail.html">EXTERIOR DESIGN</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utLorem </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<!-- service of the page -->
							<div class="service text-center bg-grey">
								<div class="img img3">
									<img src="images/icon03.png" alt="icon" class="img-responsive">
								</div>
								<h2 class="text-uppercase"><a href="service-detail.html">BUILDING RENOVATION</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utLorem </p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- promo box of the page -->
			<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>WE PROVIDE FAST AND AFFORDABLE SERVICE FOR YOUR PROJECTS!</p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="#" class="btn text-center text-uppercase">CALL US NOW</a>
						</div>
					</div>
				</div>
			</div>
			<!-- project sec of the page -->
			<section class="project-sec style3">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h3 class="main-heading text-uppercase">Our Project</h3>
							<!-- filter list of the page -->
							<ul class="filter-list list-unstyled text-center">
								<li class="active"><a href="#">All</a></li>
								<li><a href="#" data-filter=".building">Building</a></li>
								<li><a href="#" data-filter=".roof">Roof Repair</a></li>
								<li><a href="#" data-filter=".plumber">Plumber</a></li>
								<li><a href="#" data-filter=".design">Design</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- project holder of the page -->
				<div class="project-holder">
					<!-- col of the page -->
					<div class="col overlay bulding">
						<img src="http://placehold.it/465x320" alt="image description" class="img-responsive">
						<div class="over text-center">
							<strong class="title text-uppercase"><a href="project-detail1.html">Model House</a></strong>
							<span class="sub-title">Interdior Design</span>
						</div>
					</div>
					<!-- col of the page -->
					<div class="col overlay roof">
						<img src="http://placehold.it/465x320" alt="image description" class="img-responsive">
						<div class="over text-center">
							<strong class="title text-uppercase"><a href="project-detail1.html">Model House</a></strong>
							<span class="sub-title">Interdior Design</span>
						</div>
					</div>
					<!-- col of the page -->
					<div class="col overlay plumber">
						<img src="http://placehold.it/465x320" alt="image description" class="img-responsive">
						<div class="over text-center">
							<strong class="title text-uppercase"><a href="project-detail1.html">Model House</a></strong>
							<span class="sub-title">Interdior Design</span>
						</div>
					</div>
					<!-- col of the page -->
					<div class="col overlay design">
						<img src="http://placehold.it/465x320" alt="image description" class="img-responsive">
						<div class="over text-center">
							<strong class="title text-uppercase"><a href="project-detail1.html">Model House</a></strong>
							<span class="sub-title">Interdior Design</span>
						</div>
					</div>
					<!-- col of the page -->
					<div class="col overlay roof">
						<img src="http://placehold.it/465x320" alt="image description" class="img-responsive">
						<div class="over text-center">
							<strong class="title text-uppercase"><a href="project-detail1.html">Model House</a></strong>
							<span class="sub-title">Interdior Design</span>
						</div>
					</div>
					<!-- col of the page -->
					<div class="col overlay plumber">
						<img src="http://placehold.it/465x320" alt="image description" class="img-responsive">
						<div class="over text-center">
							<strong class="title text-uppercase"><a href="project-detail1.html">Model House</a></strong>
							<span class="sub-title">Interdior Design</span>
						</div>
					</div>
					<!-- col of the page -->
					<div class="col overlay design">
						<img src="http://placehold.it/465x320" alt="image description" class="img-responsive">
						<div class="over text-center">
							<strong class="title text-uppercase"><a href="project-detail1.html">Model House</a></strong>
							<span class="sub-title">Interdior Design</span>
						</div>
					</div>
					<!-- col of the page -->
					<div class="col overlay bulding">
						<img src="http://placehold.it/465x320" alt="image description" class="img-responsive">
						<div class="over text-center">
							<strong class="title text-uppercase"><a href="project-detail1.html">Model House</a></strong>
							<span class="sub-title">Interdior Design</span>
						</div>
					</div>
				</div>
			</section>
			<!-- team sec of the page -->
			<div class="team-sec">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- team slider of the page -->
							<div class="team-slider">
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">Don Alexis</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">ANNA GREEN</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">Luis Philipe</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">Jamie</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">Jamie</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- testimonail sec of the page -->
			<div class="testimonail-sec bg-full overlay" style="background-image: url(http://placehold.it/1920x350);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- testimonail slider of the page -->
							<div class="testimonail-slider">
								<!-- slide of the page -->
								<blockquote class="slide text-center">
									<q>“ I've been happy with the services provided by Vincin. Luis Philipe has been wonderful! He has returned my calls quickly, and he answered all my questions. This is required when, for example, the final text is not yet available. ”</q>
									<cite class="text-uppercase">Alex Sanches</cite>
									<span>Managing Partner</span>
								</blockquote>
								<!-- slide of the page -->
								<blockquote class="slide text-center">
									<q>“ I've been happy with the services provided by Vincin. Luis Philipe has been wonderful! He has returned my calls quickly, and he answered all my questions. This is required when, for example, the final text is not yet available. ”</q>
									<cite class="text-uppercase">Alex Sanches</cite>
									<span>Managing Partner</span>
								</blockquote>
								<!-- slide of the page -->
								<blockquote class="slide text-center">
									<q>“ I've been happy with the services provided by Vincin. Luis Philipe has been wonderful! He has returned my calls quickly, and he answered all my questions. This is required when, for example, the final text is not yet available. ”</q>
									<cite class="text-uppercase">Alex Sanches</cite>
									<span>Managing Partner</span>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- blog sec of the page -->
			<section class="blog-sec container style2 style3">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3 class="main-heading text-uppercase">Latest Blogs</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<img src="http://placehold.it/200x130" alt="image description" class="img-responsive">
								<div class="over">
									<a href="blog-detail.html"><span></span></a>
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"><a href="blog-detail.html">Bernard Coliseum Renovation</a></h3>
								<p>Ste natus error sit voluptatem accusantium doloremque laudantium,</p>
								<a href="blog-detail.html" class="read-more text-uppercase">Read more</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<img src="http://placehold.it/200x130" alt="image description" class="img-responsive">
								<div class="over">
									<a href="blog-detail.html"><span></span></a>
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"><a href="blog-detail.html">Our Favorite home decor trends</a></h3>
								<p>Ste natus error sit voluptatem accusantium doloremque laudantium,</p>
								<a href="blog-detail.html" class="read-more text-uppercase">Read more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<img src="http://placehold.it/200x130" alt="image description" class="img-responsive">
								<div class="over">
									<a href="blog-detail.html"><span></span></a>
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"><a href="blog-detail.html">Capitol Distribution Warehouse</a></h3>
								<p>Ste natus error sit voluptatem accusantium doloremque laudantium,</p>
								<a href="blog-detail.html" class="read-more text-uppercase">Read more</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<!-- blog of the page -->
						<div class="blog">
							<div class="img-holder">
								<img src="http://placehold.it/200x130" alt="image description" class="img-responsive">
								<div class="over">
									<a href="blog-detail.html"><span></span></a>
								</div>
							</div>
							<div class="txt-holder">
								<h3 class="text-uppercase"><a href="blog-detail.html">The Restored Governor's Mansion</a></h3>
								<p>Ste natus error sit voluptatem accusantium doloremque laudantium,</p>
								<a href="blog-detail.html" class="read-more text-uppercase">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- help sec of the page -->
			<section class="help-sec bg-full" style="background-image: url(http://placehold.it/1920x350);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="holder">
								<h3 class="main-heading text-uppercase">We are always ready <br>to help you</h3>
								<p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
								<a href="project-detail1.html" class="btn active text-center text-uppercase">Our project</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="img-holder">
								<img src="http://placehold.it/340x500" alt="image description" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- client sec of the page -->
			<div class="client-sec">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 line-box">
							<!-- client logo of the page -->
							<ul class="list-unstyled client-logo line">
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- footer of the page -->
		<footer id="footer">
			<!-- footer holder of the page -->
			<div class="footer-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">About us</h3>
							<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Get in Touch</h3>
							<!-- contact list of the page -->
							<ul class="list-unstyled contact-list">
								<li>
									<span class="icon ti-location-pin"></span>
									<address>1600 Amphitheatre Parkway <br>Mountain View CA 94043</address>
								</li>
								<li>
									<span class="icon ti-email"></span>
									<a href="mailto:&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
								</li>
								<li>
									<span class="icon ti-headphone-alt"></span>
									<a href="tel:18005596580">+1 800 559 6580</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Opening Hours</h3>
							<!-- hour list of the page -->
							<ul class="list-unstyled hour-list">
								<li>Our support  24 / 7</li>
								<li>Monday – Friday: 9am-6pm</li>
								<li>Saturday: 10am-4pm</li>
								<li>Sunday: 10am-1pm</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Subscribe</h3>
							<p>Subscribe to our mailing list to get the updates to your email inbox.</p>
							<!-- Subscribe form of the page -->
							<form action="#" class="subscribe-form">
								<fieldset>
									<input type="email" class="form-control" placeholder="your email here">
									<button type="submit"><i class="fa fa-paper-plane-o"></i></button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- footer area of the page -->
			<div class="footer-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<p>Copyrights © 2017 All Rights Reserved.</p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<!-- socail network of the page -->
							<ul class="socail-network list-unstyled">
								<li><a href="#" class="social_facebook"></a></li>
								<li><a href="#" class="social_linkedin"></a></li>
								<li><a href="#" class="social_twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="social_pinterest"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- back top of the page -->
		<span id="back-top" class="text-center md-round fa fa-caret-up"></span>
		<!-- loader of the page -->
		<div id="loader" class="loader-holder">
	      <div class="block"><img src="images/svg/hearts.svg" width="100" alt="loader"></div>
	    </div>
	</div>
	<div class="popup-holder">
		<div id="popup1" class="lightbox">
			<form action="#" class="signup-form text-center">
				<fieldset>
					<h2>Sign in to <span class="clr">Vicin</span></h2>
					<p>Enter your details below.</p>
					<div class="form-group">
						<input type="email" class="form-control" placeholder="EMAIL ADDRESS">
						<input type="password" class="form-control" placeholder="PASSWORD">
					</div>
					<button type="submit" class="btn text-center text-uppercase">SIGN IN</button>
					<a href="#">forgot your password?</a>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- include jQuery -->
	<script src="js/jquery.js"></script>
	<!-- include jQuery -->
	<script src="js/plugins.js"></script>
	<!-- include jQuery -->
	<script src="js/jquery.main.js"></script>
</body>
</html>