<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vicin | Multipurpose Construction & Plumbing HTML Template</title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia%7COpen+Sans:300,300i,400,400i,600,700,800%7CRoboto:300,400,500,700" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/plugins.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="style.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/colors.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/responsive.css">
</head>
<body class="blue">
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		<header id="header" class="style4">
			<!-- header area of the page -->
			<div class="header-area bg-grey">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<ul class="contact-list list-unstyled">
								<li><i class="icon fa fa-clock-o"></i> Opening Hours: Mon-Fri: 9am-6pm; Sat-Sun: 10am - 1pm</li>
							</ul>
							<!-- socail network of the page -->
							<ul class="socail-network list-unstyled">
								<li><a href="#" class="social_facebook"></a></li>
								<li><a href="#" class="social_linkedin"></a></li>
								<li><a href="#" class="social_twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="social_pinterest"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- header holder of the page -->
			<div class="header-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- logo of the page -->
							<div class="logo">
								<a href="home.html"><img src="images/logo-b.png" alt="VICIN" class="img-responsive"></a>
							</div>
							<a href="#" class="nav-opener opener2 text-center md-round"><i class="fa fa-bars"></i></a>
							<!-- nav of the page -->
							<nav id="nav">
								<ul class="list-unstyled">
									<li class="active">
										<a href="#">Home</a>
										<ul class="list-unstyled drop-down">
											<li><a href="home.html">Homepage 1</a></li>
											<li><a href="home2.html">Homepage 2</a></li>
											<li><a href="home3.html">Homepage 3</a></li>
											<li><a href="home4.html">Homepage 4</a></li>
										</ul>
									</li>
									<li><a href="about.html">About us</a></li>
									<li>
										<a href="#">services</a>
										<ul class="list-unstyled drop-down">
											<li><a href="service.html">Services List</a></li>
											<li><a href="service-detail.html">Services Details</a></li>
										</ul>
									</li>
									<li>
										<a href="#">projects</a>
										<ul class="list-unstyled drop-down">
											<li><a href="project1.html">projects 1</a></li>
											<li><a href="project2.html">projects 2</a></li>
											<li><a href="project-detail1.html">projects Details 1</a></li>
											<li><a href="project-detail2.html">projects Details 2</a></li>
										</ul>
									</li>
									<li>
										<a href="#">pages</a>
										<ul class="list-unstyled drop-down">
											<li><a href="404page.html">404 page</a></li>
											<li><a href="faq.html">faq</a></li>
											<li><a href="#login.html">login</a></li>
											<li><a href="checkout.html">Checkout</a></li>
											<li><a href="cart.html">Cart</a></li>
										</ul>
									</li>
									<li>
										<a href="#">SHOP</a>
										<ul class="list-unstyled drop-down">
											<li><a href="shop.html">Shop List</a></li>
											<li><a href="shop-detail.html">Shop Details</a></li>
										</ul>
									</li>
									<li>
										<a href="#">blog</a>
										<ul class="list-unstyled drop-down">
											<li><a href="blog.html">blog List</a></li>
											<li><a href="blog-detail.html">blog Details</a></li>
										</ul>
									</li>
									<li><a href="contact.html">contact us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- main of the page -->
		<main id="main">
			<!-- main slider of the page -->
			<section class="main-slider slider4">
				<!-- slide of the page -->
				<div class="slide bg-full" style="background-image: url(http://placehold.it/1920x850);">
					<div class="caption text-center">
						<h1 class="text-uppercase">OFFERING HIGH EXPERTISE IN ALL <br>OF YOUR PLUMBING NEEDS</h1>
						<p>We will execute with ease and good mood plumbing repair, installation and cleaning of pipes, <br>connecting washing machines and dishwashers, the installation of toilets, sinks, bathtubs, <br>shower cabins, and many other works.</p>
					</div>
				</div>
				<!-- slide of the page -->
				<div class="slide bg-full" style="background-image: url(http://placehold.it/1920x850);">
					<div class="caption text-center">
						<h1 class="text-uppercase">Construction industry</h1>
						<p>We will execute with ease and good mood plumbing repair, installation and cleaning of pipes, <br>connecting washing machines and dishwashers, the installation of toilets, sinks, bathtubs, <br>shower cabins, and many other works.</p>
					</div>
				</div>
				<!-- slide of the page -->
				<div class="slide bg-full" style="background-image: url(http://placehold.it/1920x850);">
					<div class="caption text-center">
						<h1 class="text-uppercase">roofing Services</h1>
						<p>We will execute with ease and good mood plumbing repair, installation and cleaning of pipes, <br>connecting washing machines and dishwashers, the installation of toilets, sinks, bathtubs, <br>shower cabins, and many other works.</p>
					</div>
				</div>
			</section>
			<!-- promo box of the page -->
			<div class="promo-box style2 md-round container">
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<p>We are open 24/7/365 because plumbing emergencies</p>
					</div>
					<div class="col-xs-12 col-sm-4">
						<a href="tel:18006548745" class="call text-center md-round">+(1800) 654 8745</a>
					</div>
				</div>
			</div>
			<!-- service sec of the page -->
			<section class="service-sec service4 container">
				<div class="row">
					<div class="col-xs-12 header">
						<h2 class="main-heading2">OUR SERVICES</h2>
						<p>See a full list of all our plumbing services here</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<!-- tabset of the page -->
						<ul class="tabset list-unstyled">
							<li><a href="#tab1" class="active">Plumbing Repairing</a></li>
							<li><a href="#tab2">Leak Detection</a></li>
							<li><a href="#tab3">Bathroom Plumbing</a></li>
							<li><a href="#tab4">Water line repaire</a></li>
							<li><a href="#tab5">Plumbing Repairing</a></li>
							<li><a href="#tab6">Leak Detection</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-8">
						<!-- tab content of the page -->
						<div class="tab-content">
							<!-- tab1 of the page -->
							<div id="tab1" class="active">
								<div class="txt-holder">
									<h4 class="text-uppercase">Plumbing Repairing</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<a href="#" class="read-more text-uppercase">Read More</a>
								</div>
								<div class="img-holder">
									<img src="http://placehold.it/370x230" alt="image description" class="img-responsive">
								</div>
							</div>
							<!-- tab2 of the page -->
							<div id="tab2">
								<div class="txt-holder">
									<h4 class="text-uppercase">Leak Detection</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<a href="#" class="read-more text-uppercase">Read More</a>
								</div>
								<div class="img-holder">
									<img src="http://placehold.it/370x230" alt="image description" class="img-responsive">
								</div>
							</div>
							<!-- tab3 of the page -->
							<div id="tab3">
								<div class="txt-holder">
									<h4 class="text-uppercase">bathroom plumbing</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<a href="#" class="read-more text-uppercase">Read More</a>
								</div>
								<div class="img-holder">
									<img src="http://placehold.it/370x230" alt="image description" class="img-responsive">
								</div>
							</div>
							<!-- tab4 of the page -->
							<div id="tab4">
								<div class="txt-holder">
									<h4 class="text-uppercase">Water line repaire</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<a href="#" class="read-more text-uppercase">Read More</a>
								</div>
								<div class="img-holder">
									<img src="http://placehold.it/370x230" alt="image description" class="img-responsive">
								</div>
							</div>
							<!-- tab5 of the page -->
							<div id="tab5">
								<div class="txt-holder">
									<h4 class="text-uppercase">Plumbing Repairing</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<a href="#" class="read-more text-uppercase">Read More</a>
								</div>
								<div class="img-holder">
									<img src="http://placehold.it/370x230" alt="image description" class="img-responsive">
								</div>
							</div>
							<!-- tab6 of the page -->
							<div id="tab6">
								<div class="txt-holder">
									<h4 class="text-uppercase">Leak Detection</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<a href="#" class="read-more text-uppercase">Read More</a>
								</div>
								<div class="img-holder">
									<img src="http://placehold.it/370x230" alt="image description" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- promo box of the page -->
			<div class="promo-box style3">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-8">
							<p>We are ready to meet all your plumbing needs</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<a href="#" class="btn text-center text-uppercase md-round">LEARN MORE ABOUT US</a>
						</div>
					</div>
				</div>
			</div>
			<!-- work sec of the page -->
			<section class="work-sec container">
				<div class="row">
					<div class="col-xs-12 header text-center">
						<h2 class="main-heading2 text-uppercase">OUR WORK</h2>
						<p>We are ready to meet all your plumbing needs</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- work slider of the page -->
						<div class="work-slider">
							<!-- slide of the page -->
							<div class="slide">
								<div class="img-holder">
									<img src="http://placehold.it/570x350" alt="image description" class="img-responsive">
								</div>
								<div class="txt-holder">
									<h4 class="text-uppercase">PLUMBING INSTALLATIONS</h4>
									<p>If you’re looking to install a brand new faucet, shower system or connect alorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
									<a href="project1.html" class="read-more text-uppercase">VIEW PROJECT</a>
								</div>
							</div>
							<!-- slide of the page -->
							<div class="slide">
								<div class="img-holder">
									<img src="http://placehold.it/570x350" alt="image description" class="img-responsive">
								</div>
								<div class="txt-holder">
									<h4 class="text-uppercase">Water line repaire</h4>
									<p>If you’re looking to install a brand new faucet, shower system or connect alorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
									<a href="project1.html" class="read-more text-uppercase">VIEW PROJECT</a>
								</div>
							</div>
							<!-- slide of the page -->
							<div class="slide">
								<div class="img-holder">
									<img src="http://placehold.it/570x350" alt="image description" class="img-responsive">
								</div>
								<div class="txt-holder">
									<h4 class="text-uppercase">PLUMBING INSTALLATIONS</h4>
									<p>If you’re looking to install a brand new faucet, shower system or connect alorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
									<a href="project1.html" class="read-more text-uppercase">VIEW PROJECT</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- testimonail sec of the page -->
			<div class="testimonail-sec style2 bg-full" style="background-image: url(http://placehold.it/1920x360);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- testimonail slider of the page -->
							<div class="testimonail-slider">
								<!-- slide of the page -->
								<blockquote class="slide text-center">
									<div class="img-holder round">
										<img src="http://placehold.it/70x70" alt="image description" class="img-responsive">
									</div>
									<q>“ Not to mention that the price was fantastic and they went to great lengths to make sure their work was <br>incredibly clean! Super professional, knowledgeable, clean, courteous and efficient. Couldn't be happier and <br>definitely know who I'll be calling every time in the future! “</q>
									<cite>- Alex Maya. <span>Customer</span> -</cite>
								</blockquote>
								<!-- slide of the page -->
								<blockquote class="slide text-center">
									<div class="img-holder round">
										<img src="http://placehold.it/70x70" alt="image description" class="img-responsive">
									</div>
									<q>“ Not to mention that the price was fantastic and they went to great lengths to make sure their work was <br>incredibly clean! Super professional, knowledgeable, clean, courteous and efficient. Couldn't be happier and <br>definitely know who I'll be calling every time in the future! “</q>
									<cite>- Alex Maya. <span>Customer</span> -</cite>
								</blockquote>
								<!-- slide of the page -->
								<blockquote class="slide text-center">
									<div class="img-holder round">
										<img src="http://placehold.it/70x70" alt="image description" class="img-responsive">
									</div>
									<q>“ Not to mention that the price was fantastic and they went to great lengths to make sure their work was <br>incredibly clean! Super professional, knowledgeable, clean, courteous and efficient. Couldn't be happier and <br>definitely know who I'll be calling every time in the future! “</q>
									<cite>- Alex Maya. <span>Customer</span> -</cite>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- blog sec of the page -->
			<section class="blog-sec style4">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 header text-center">
							<h3 class="main-heading2 text-uppercase">Latest News</h3>
							<p>In our news, we always have some helpful tips for you and your plumbing needs!</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<!-- blog of the page -->
							<div class="blog">
								<div class="img-holder">
									<img src="http://placehold.it/370x200" alt="image description" class="img-responsive">
									<div class="over">
										<a href="blog-detail.html"><span></span></a>
									</div>
								</div>
								<div class="txt-holder">
									<h3 class="text-uppercase"><a href="blog.html">Tips for Redesigning Your Bathroom</a></h3>
									<ul class="list-unstyled comment-nav">
										<li><time datetime="2017-02-03 20:00">Posted 08.17.2017</time></li>
										<li>|</li>
										<li><a href="blog.html">Construction</a></li>
									</ul>
									<p>Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern.</p>
									<a href="blog.html" class="read-more text-uppercase">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<!-- blog of the page -->
							<div class="blog">
								<div class="img-holder">
									<img src="http://placehold.it/370x200" alt="image description" class="img-responsive">
									<div class="over">
										<a href="blog-detail.html"><span></span></a>
									</div>
								</div>
								<div class="txt-holder">
									<h3 class="text-uppercase"><a href="blog.html">Tips for Redesigning Your Bathroom</a></h3>
									<ul class="list-unstyled comment-nav">
										<li><time datetime="2017-02-03 20:00">Posted 08.17.2017</time></li>
										<li>|</li>
										<li><a href="blog.html">Plumber</a></li>
									</ul>
									<p>Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern.</p>
									<a href="blog.html" class="read-more text-uppercase">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<!-- blog of the page -->
							<div class="blog">
								<div class="img-holder">
									<img src="http://placehold.it/370x200" alt="image description" class="img-responsive">
									<div class="over">
										<a href="blog-detail.html"><span></span></a>
									</div>
								</div>
								<div class="txt-holder">
									<h3 class="text-uppercase"><a href="blog.html">Tips for Redesigning Your Bathroom</a></h3>
									<ul class="list-unstyled comment-nav">
										<li><time datetime="2017-02-03 20:00">Posted 08.17.2017</time></li>
										<li>|</li>
										<li><a href="blog.html">Repair Roof</a></li>
									</ul>
									<p>Designing a bathroom can easily become a truly daunting task, especially if space and cost are of concern.</p>
									<a href="blog.html" class="read-more text-uppercase">Read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- team sec of the page -->
			<section class="team-sec style3">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 header text-center">
							<h3 class="main-heading2 text-uppercase">OUR TEAM</h3>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- team slider of the page -->
							<div class="team-slider">
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">Victor Pitcher</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">JAMIE GARCIA</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">Luis Alonso</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">Jamie lucke</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
								<!-- team of the page -->
								<div class="team">
									<img src="http://placehold.it/270x300" alt="image description" class="img-responsive">
									<div class="over">
										<strong class="title text-uppercase">Luis Alonso</strong>
										<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.</p>
										<ul class="socail-network list-unstyled">
											<li><a href="#" class="social_facebook"></a></li>
											<li><a href="#" class="social_linkedin"></a></li>
											<li><a href="#" class="social_twitter"></a></li>
											<li><a href="#" class="fa fa-google-plus"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- contact sec of the page -->
			<section class="contact-sec style2 container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="img-holder">
							<img src="http://placehold.it/360x500" alt="image description" class="img-responsive">
						</div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<div class="header">
							<h2 class="main-heading2 text-uppercase">Contact Us</h2>
							<p>Nemo enim ipsam voluptatem quia voluptas sit</p>
						</div>
						<!-- contact form of the page -->
						<form action="#" class="contact-form">
							<fieldset>
								<div class="holder">
									<div class="col">
										<input type="text" class="form-control" placeholder="First Name">
										<input type="tel" class="form-control" placeholder="Phone Number">
									</div>
									<div class="col">
										<textarea placeholder="Message"></textarea>
									</div>
								</div>
								<button type="submit" class="btn text-uppercase text-center md-round">Submit</button>
							</fieldset>
						</form>
					</div>
				</div>
			</section>
			<!-- client sec of the page -->
			<div class="client-sec">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 line-box">
							<!-- client logo of the page -->
							<ul class="list-unstyled client-logo line">
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
								<li><a href="#"><img src="http://placehold.it/120x65" alt="logo" class="img-responsive"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- footer of the page -->
		<footer id="footer">
			<!-- footer holder of the page -->
			<div class="footer-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">About us</h3>
							<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Get in Touch</h3>
							<!-- contact list of the page -->
							<ul class="list-unstyled contact-list">
								<li>
									<span class="icon ti-location-pin"></span>
									<address>1600 Amphitheatre Parkway <br>Mountain View CA 94043</address>
								</li>
								<li>
									<span class="icon ti-email"></span>
									<a href="mailto:&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#046;&#100;&#101;&#101;&#114;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
								</li>
								<li>
									<span class="icon ti-headphone-alt"></span>
									<a href="tel:18005596580">+1 800 559 6580</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Opening Hours</h3>
							<!-- hour list of the page -->
							<ul class="list-unstyled hour-list">
								<li>Our support  24 / 7</li>
								<li>Monday – Friday: 9am-6pm</li>
								<li>Saturday: 10am-4pm</li>
								<li>Sunday: 10am-1pm</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<h3 class="text-uppercase">Subscribe</h3>
							<p>Subscribe to our mailing list to get the updates to your email inbox.</p>
							<!-- subscribe form of the page -->
							<form action="#" class="subscribe-form">
								<fieldset>
									<input type="email" class="form-control" placeholder="your email here">
									<button type="submit"><i class="fa fa-paper-plane-o"></i></button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- footer area of the page -->
			<div class="footer-area">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<p>Copyrights © 2017 All Rights Reserved.</p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<!-- socail network of the page -->
							<ul class="socail-network list-unstyled">
								<li><a href="#" class="social_facebook"></a></li>
								<li><a href="#" class="social_linkedin"></a></li>
								<li><a href="#" class="social_twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="social_pinterest"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- back top of the page -->
		<span id="back-top" class="text-center md-round fa fa-caret-up"></span>
		<!-- loader of the page -->
		<div id="loader" class="loader-holder">
	      <div class="block"><img src="images/svg/hearts.svg" width="100" alt="loader"></div>
	    </div>
	</div>
	<!-- include jQuery -->
	<script src="js/jquery.js"></script>
	<!-- include jQuery -->
	<script src="js/plugins.js"></script>
	<!-- include jQuery -->
	<script src="js/jquery.main.js"></script>
</body>
</html>